@charset "UTF-8";

body {
      background: #fff;
}
a {
      text-decoration: none;
}

/* 메뉴 */
#wrap {
      width: 1040px;
      margin: 0 auto;
      overflow: hidden;
      padding-top: 80px;
      padding-bottom: 80px;
      height: 100%;
}

#wrap > .border {
      float: left;
      width: 1px;
      height: 100%;
      background-color: #444;
}

#main_aside {
      float: left;
      width: 200px;
      padding-top: 70px;
      /* border-right: 1px solid #bbb; */
      height: inherit;
}

#main_aside > ul > li {
      margin-bottom: 30px;
      text-align: right;
      margin-right: 30px;
}

#main_aside > ul > li > a {
      font-size: 23px;
      padding: 30px 0;
      font-weight: 600;
      width: 100px;
      color: #999;
}

#main_aside > ul > li:hover > a {
      color: #222;
}

#main_aside > ul > li.current > a {
      color: #222;
}


/* 컨텐츠 - 소개 */

#content_announce {
      float: left;
      width: calc(100% - 251px);
      padding-top: 70px;
      margin-left: 50px;
}

#content_announce > h1 {
      font-size: 30px;
}

#content_poster, #content_winner, #content_partner {
      display: none;
}

#content_announce > .announce-table {
      width: 100%;
      border-top: 1px solid #444;
      border-collapse: collapse;
      margin: 50px 0;
}

#content_announce > .announce-table th, td {
      border-bottom: 1px solid #444;
      padding: 10px;
      font-size: 18px;
      line-height: 25px;

}

/* 컨텐츠 - 포스터 */
#content_poster {
      float: left;
      width: calc(100% - 251px);
      padding-top: 70px;
      margin-left: 50px;
}

#content_poster > h1 {
      font-size: 30px;
      margin-bottom: 50px;
}

#content_poster > .poster_container > .poster_text {
      border: 1px solid #ccc;
      font-size: 18px;
      margin-top: 20px;
      padding: 15px;
      line-height: 25px;
}

#content_poster > .poster_container > .poster_text > p:first-child {
      color: #b93b3b;
      padding-bottom: 15px;
}

#content_poster > .poster_container > .poster_img > img {
      width: 400px;
}


/* 컨텐츠 - 심사위원&시상 */
#content_winner {
      float: left;
      width: calc(100% - 251px);
      padding-top: 70px;
      margin-left: 50px;
      overflow: hidden;
}

#content_winner > h1 {
      font-size: 30px;
      margin-bottom: 50px;
}

#content_winner .winner.item {
      float: left;
      width: calc((100% - 60px) / 3);
      margin: 0 10px 50px;
}

#content_winner .winner.item > img {
      width: 100%;
      border-radius: 15px;
      
}

#content_winner .winner.item > h5 {
      height: 50px;
      font-size: 18px;
      padding-top: 5px;
      text-align: center;
}

/* 컨텐츠 - 파트너 */
#content_partner {
      float: left;
      width: calc(100% - 251px);
      padding-top: 70px;
      margin-left: 50px;
      overflow: hidden;
}

#content_partner > h1 {
      font-size: 30px;
      margin-bottom: 50px;
}

#content_partner > .partner_container > img {
      float: left;
      width: calc((100% - 60px) / 3);
      margin: 0 10px 50px;
}


/* 미디어 쿼리 */
/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
      #wrap {
            width: 100%;
      }

      #main_aside > ul > li > a {
            font-size: 22px;
      }

      /* 컨텐츠 - 소개 */
      #content_announce {
            width: calc(100% - 271px);
            margin-left: 50px;
            margin-right: 20px;
      }

      #content_announce > h1 {
            font-size: 25px;
      }

      #content_winner .winner.item > h5 {
            font-size: 18px;
      }

      /* 컨텐츠 - 포스터 */
      #content_poster > h1 {
            font-size: 25px;
      }

      #content_poster > .poster_container > .poster_text {
            font-size: 17px;
            line-height: 20px;
            margin-right: 20px;
      }

      /* 컨텐츠 - 심사위원&시상 */
      #content_winner .winner.item {
            width: calc((100% - 40px) / 2);
            margin: 0 10px 20px;
      }

      #content_winner > h1 {
            font-size: 25px;
      }

      #content_winner .winner.item > h5 {
            font-size: 17px;
      }

      /* 컨텐츠 - 파트너 */
      #content_partner > h1 {
            font-size: 25px;
      }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
      #wrap {
            width: 100%;
            padding-bottom: 50px;
      }

      /* 메뉴 */
      #main_aside {
            float: none;
            width: 100%;
            padding-top: 30px;
            margin-left: 20px;
      }

      #main_aside > ul {
            overflow: hidden;
      }

      #main_aside > ul > li {
            float: left;
            text-align: center;
            margin-right: 15px;
      }

      #main_aside > ul > li > a {
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            color: #999;
      }

      /* 컨텐츠 - 소개 */
      #content_announce {
            float: none;
            width: calc(100% - 40px);
            padding: 30px 0;
            margin: 0 20px;
      }

      #content_announce > h1 {
            font-size: 20px;
      }
      
      #content_announce > .announce-table th, td {
            font-size: 16px;
      }

      /* 컨텐츠 - 포스터 */
      #content_poster {
            float: none;
            width: calc(100% - 40px);
            padding-top: 30px;
            margin: 0 20px;
      }

      #content_poster > h1 {
            font-size: 20px;
      }

      #content_poster > .poster_container > .poster_img {
            text-align: center;
      }

      #content_poster > .poster_container > .poster_img > img {
            width: 300px;
      }

      #content_poster > .poster_container > .poster_text {
            font-size: 15px;
            line-height: 20px;
            margin: 20px 5px;
      }


      /* 컨텐츠 - 심사위원&시상 */
      #content_winner {
            float: none;
            width: 100%;
            padding-top: 30px;
            margin-left: 15px;
            margin-right: 15px;
            overflow: hidden;
      }

      #content_winner > h1 {
            font-size: 20px;
            margin-left: 5px;
      }

      #content_winner .winner.item {
            width: calc((100% - 70px) / 2);
            margin: 0 10px;
      }

      #content_winner .winner.item > h5 {
            font-size: 15px;
      }

      /* 컨텐츠 - 파트너 */
      #content_partner {
            float: none;
            width: 100%;
            padding-top: 30px;
            margin: 0 20px;
            overflow: hidden;
      }

      #content_partner > h1 {
            font-size: 20px;
      }

      #content_partner > .partner_container > img {
            float: left;
            margin: 0 5px;
            width: calc((100% - 60px) / 2);
      }
}
