@charset "UTF-8";

#main_header {
      background-color: rgba(0,0,0,.60);
}

body {
      background-color: #ccc;
}

/* 컨텐츠 */

/* 큰이미지 슬라이더 */

#big_image_slider > .swiper-container {
      width: 100%;
      height: 750px;
}
#big_image_slider .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}

#big_image_slider .swiper-slide.slide1 {
      background: url('../images/slider_img1_16x9.png');
      background-size: cover;
      background-position: center;
}
#big_image_slider .swiper-slide.slide2 {
      background: url('../images/slider_img2_16x9.png');
      background-size: cover;
      background-position: center;
}
#big_image_slider .swiper-slide.slide3 {
      background: url('../images/slider_img4_16x9.png');
      background-size: cover;
      background-position: center;
}


/* 이벤트 */

#content_event {
      margin: 50px 20px 0;
}

#content_event > #event_text {
      overflow: hidden;
      margin-bottom: 20px;
      margin-left: 10px;
}
#content_event > #event_text > h3 {
      font-size: 30px;
      float: left;
      width: 100px;
}
#content_event > #event_text > p {
      font-size: 18px;
      font-weight: 600;
      float: right;
      width: 100px;
      margin-top: 10px;
      margin-right: 10px;
      text-align: right;
}
#content_event > #event_text > p > a {
      color: #222;
      text-decoration: none;
}
#content_event > #event_container {
      margin: 30px 0 120px;
      text-align: center;
}
#content_event > #event_container > .event_item {
      display: inline-block;
      text-align: center;
      width: calc((100% - 80px) / 3);
      margin: 0 10px;
      /* width: 550px; */
      /* height: 250px; */
      background-size: cover;
      border-radius: 10px;
}


/* 작은 이미지 슬라이더 */

#small_image_slider {
      margin: 60px 30px 120px;
}
#small_image_slider > h3 {
      font-size: 30px;
      margin-bottom: 30px;
}
#small_image_slider > .swiper-container {
      height: 300px;
}
#small_image_slider .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}

#small_image_slider .swiper-slide.slide1 {
      background: url('../images/slider_img4_16x9.png');
      background-size: cover;
      background-position: center;
}
#small_image_slider .swiper-slide.slide2 {
      background: url('../images/film_img3.png');
      background-size: cover;
      background-position: center;
}
#small_image_slider .swiper-slide.slide3 {
      background: url('../images/film_img9.png');
      background-size: cover;
      background-position: center;
}
#small_image_slider .swiper-slide.slide4 {
      background: url('../images/slider_img1_16x9.png');
      background-size: cover;
      background-position: center;
}
#small_image_slider .swiper-slide.slide5 {
      background: url('../images/slider_img2_16x9.png');
      background-size: cover;
      background-position: center;
}
#small_image_slider .swiper-button-next {
      background: url('../images/arrow_right_img_25.png');
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-position-y: center;
}
#small_image_slider .swiper-button-prev {
      background: url('../images/arrow_left_img_25.png');
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-position-y: center;
}
#small_image_slider .swiper-button-next::after,
#small_image_slider .swiper-button-prev::after {
      display: none;
}


/* 이미지 갤러리 */
#content_films {
      width: 100%;
      height: auto;
      background-color: #333;
      color: white;
      overflow: hidden;
}

#content_films > h3 {
      font-size: 35px;
      color: white;
      padding: 30px 25px 0;
}

#content_films > .films_container {
      display: flex;
      flex-direction: row;
      height: 100%;
      margin: 30px 30px 90px;
}

#content_films > .films_container > .left-row {
      flex: 40%;
} 
#content_films > .films_container > .left-row > .bg {
      width: 95%;
}

#content_films > .films_container > .right-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex: 60%;
}

#content_films > .films_container > .right-row .film {
      width: 31%;
      /* padding-bottom: 32%; */
      margin-bottom: -1.45%;
      position: relative;
}

#content_films > .films_container > .right-row .hidden {
      visibility: hidden;
}

#content_films > .films_container > .right-row > .film3 .film-caption {
      position: absolute;
      top: 0;
      right: -180px; 
}

#content_films > .films_container > .right-row > .film4 .film-caption {
      position: absolute;
      top: 0;
      right: -160px; 
}

#content_films .bg-img {
      width: 100%;
      border-radius: 15px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
}

#content_films .bg {
      overflow: hidden;
      border-radius: 15px;
}

#content_films .bg-img:hover, .bg-img:focus {
      -ms-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
}

#content_films .film-caption > h4 {
      padding-top: 8px;
      font-size: 22px;
}

#content_films .film-caption > h5 {
      font-size: 18px;
      color: #9ed5d2;
      padding-top: 7px;
}

#content_films > .films_container > .right-row > .film5, .film6 {
      margin-top: -20px;   
}



/* 공지사항, 뉴스 */
#content_text {
      max-width: 1280px;
      margin: 0 auto;
      padding: 80px 0px;
      /* width: 1024px; */
      /* overflow: hidden; */
}

#content_text > .container_notice {
      display: inline-block;
      /* float: left; */
      width: calc((100% - 165px) / 2);
      margin: 0 40px;
}
#content_text > .container_news {
      display: inline-block;
      /* float: left; */
      width: calc((100% - 165px) / 2);
      margin: 0 40px;
}

#content_text h3 {
      font-size: 30px;
      margin-bottom: 30px;
}

/* 공지사항 */
#content_text > .container_notice > .notice_item {
      overflow: hidden;
      margin-bottom: 15px;
      border-bottom: 1px solid #bbb;
      padding-bottom: 15px;
}

#content_text > .container_notice > .notice_item:last-of-type {
      border: none;
}

#content_text > .container_notice > .notice_item > .date {
      float: left; 
      width: 80px;
      margin-right: 20px;
}

/* 공지사항 글 라인 */
#content_text > .container_notice > .notice_item > .date > p:first-child {
      font-size: 40px;
      text-align: center;
      font-weight: 600;
}

#content_text > .container_notice > .notice_item > .date > p:nth-child(2) {
      font-size: 16px;
      text-align: center;
      padding-top: 10px;
}

#content_text > .container_notice > .notice_item > .post {
      float: left; 
      width: calc(100% - 100px);
      padding-top: 10px;
}

#content_text > .container_notice > .notice_item > .post > p:first-child {
      font-size: 20px;
      font-weight: 400;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
}

#content_text > .container_notice > .notice_item > .post > p:nth-child(2) {
      font-size: 18px;
      color: #666;
      padding-top: 10px;
      
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
}

/* 뉴스 */
#content_text > .container_news > .news_item {
      overflow: hidden;
      margin-bottom: 15px;
      border-bottom: 1px solid #bbb;
      padding-bottom: 15px;
}

#content_text > .container_news > .news_item:last-of-type {
      border: none;
}

/* 뉴스 글 라인 */
#content_text > .container_news > .news_item > .date {
      float: left; 
      width: 80px;
      margin-right: 20px;
}

#content_text > .container_news > .news_item > .date > p:first-child {
      font-size: 40px;
      text-align: center;
      font-weight: 600;
}

#content_text > .container_news > .news_item > .date > p:nth-child(2) {
      font-size: 18px;
      text-align: center;
      padding-top: 10px;
}

#content_text > .container_news > .news_item > .post {
      float: left; 
      width: calc(100% - 100px);
      padding-top: 10px;
}

#content_text > .container_news > .news_item > .post > p:first-child {
      font-size: 20px;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
}

#content_text > .container_news > .news_item > .post > p:nth-child(2) {
      font-size: 18px;
      color: #666;
      padding-top: 10px;
      
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
}



/* 미디어 쿼리 */
/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
      
} 
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
      /* 이벤트 */
      #content_event {
            margin: 40px 20px 0;
      }

      #content_event > #event_text > h3 {
            font-size: 25px;
            margin-left: 10px;
      }
      #content_event > #event_text > p {
            font-size: 16px;
      }
      #content_event > #event_container {
            margin: 25px 0 100px;
            text-align: center;
      }
      #content_event > #event_container > .event_item {
            display: inline-block;
            text-align: center;
            width: calc((100% - 60px) / 2);
            /* width: 450px;
            height: 200px; */
            background-size: cover;
            border-radius: 10px;
            margin-bottom: 10px;
      }

      #small_image_slider > h3 {
            font-size: 25px;
      }

      /* 이미지 갤러리 */
      #content_films > h3 {
            font-size: 30px;
      }

      #content_films .film-caption > h4 {
            padding-top: 5px;
            font-size: 20px;
      }
      
      #content_films .film-caption > h5 {
            font-size: 16px;
            padding-top: 5px;
      }

      #content_films > .films_container > .right-row .film {
            margin-bottom: -2.5%;
      }

      #content_films > .films_container > .right-row > .film3 .film-caption {
            position: absolute;
            top: 0;
            right: -160px; 
      }
      
      #content_films > .films_container > .right-row > .film4 .film-caption {
            position: absolute;
            top: 0;
            right: -140px; 
      }
      
      /* 공지사항, 뉴스 */
      #content_text {
            width: 100%;
            padding: 80px 20px;
      }

      #content_text > .container_notice {
            width: calc((100% - 80px) / 2);
            margin: 0 10px;
      }

      #content_text > .container_news {
            width: calc((100% - 80px) / 2);
            margin: 0 10px;
      }

      #content_text h3 {
            font-size: 25px;
      }

      /* 공지사항 글 라인 */
      #content_text > .container_notice > .notice_item > .date > p:first-child {
            font-size: 35px;
      }
      
      #content_text > .container_notice > .notice_item > .date > p:nth-child(2) {
            font-size: 16px;
      }

      #content_text > .container_notice > .notice_item > .post > p:first-child {
            font-size: 18px;
      }
      
      #content_text > .container_notice > .notice_item > .post > p:nth-child(2) {
            font-size: 16px;
      }

      /* 뉴스 글 라인 */
      #content_text > .container_news > .news_item > .date > p:first-child {
            font-size: 35px;
      }
      
      #content_text > .container_news > .news_item > .date > p:nth-child(2) {
            font-size: 16px;
      }

      #content_text > .container_news > .news_item > .post > p:first-child {
            font-size: 18px;
      }
      
      #content_text > .container_news > .news_item > .post > p:nth-child(2) {
            font-size: 16px;
      }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
      /* 이벤트 */
      #content_event {
            margin: 60px 15px 80px;
      }

      #content_event > #event_text > h3 {
            font-size: 20px;
            margin-left: 5px;
      }
      #content_event > #event_text > p {
            font-size: 15px;
            margin-right: 15px;
            margin-top: 5px;
      }
      #content_event > #event_container {
            width: 100%;
            margin: 30px 0 0;
      }
      #content_event > #event_container > .event_item {
            width: calc(100% - 40px);
            margin-bottom: 10px;
            /* width: 450px;
            height: 200px; */
      }

      /* 작은 이미지 슬라이더 */
      #small_image_slider > h3 {
            font-size: 20px;
      }

      #small_image_slider {
            margin: 0 30px 90px;
      }
      #small_image_slider > h3 {
            font-size: 20px;
            margin-bottom: 20px;
      }
      #small_image_slider > .swiper-container {
            height: 250px;
      }


      /* 이미지 갤러리 */
      #content_films > .films_container > .left-row > .bg {
            width: 100%;
      }

      #content_films > h3 {
            font-size: 25px;
            color: white;
            padding: 20px 20px 10px;
      }
      
      #content_films > .films_container {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin: 20px 30px;
      }
      
      #content_films > .films_container > .left-row {
            flex: 40%;
            margin-bottom: 30px;
      } 
      #content_films > .films_container > .left-row > .film1 {
            width: 100%;
      }
      
      #content_films > .films_container > .right-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex: 60%;
      }
      
      #content_films > .films_container > .right-row .film {
            width: 48%;
            margin-bottom: 5%;
      }
      
      #content_films > .films_container > .right-row .hidden {
            display: none;
      }

      #content_films > .films_container > .right-row > .film3 .film-caption {
            position: relative;
            bottom: 0;
            left: 0;
      }

      #content_films > .films_container > .right-row > .film4 .film-caption {
            position: relative;
            bottom: 0;
            left: 0;
      }

      #content_films > .films_container > .right-row > .film5, .film6 {
            margin: 0;
      }

      #content_films .film-caption > h4 {
            padding-top: 7px;
            font-size: 18px;
      }
      
      #content_films .film-caption > h5 {
            font-size: 15px;
            color: #9ed5d2;
            padding-top: 5px;
      }

      /* 공지사항, 뉴스 */
      #content_text {
            width: 100%;
            padding: 50px 20px;
      }

      #content_text > .container_notice {
            /* float: none; */
            width: 100%;
            margin: 0 20px;
      }
      #content_text > .container_news {
            /* float: none; */
            width: 100%;
            margin-top: 30px;
      }

      #content_text h3 {
            font-size: 20px;
      }

      /* 공지사항 글 라인 */
      #content_text > .container_notice > .notice_item > .date > p:first-child {
            font-size: 30px;
      }
      
      #content_text > .container_notice > .notice_item > .date > p:nth-child(2) {
            font-size: 15px;
      }
      
      #content_text > .container_notice > .notice_item > .post > p:first-child {
            font-size: 17px;
      }
      
      #content_text > .container_notice > .notice_item > .post > p:nth-child(2) {
            font-size: 15px;
      }

      /* 뉴스 글 라인 */
      #content_text > .container_news > .news_item > .date > p:first-child {
            font-size: 30px;
      }
      
      #content_text > .container_news > .news_item > .date > p:nth-child(2) {
            font-size: 15px;
      }
      
      #content_text > .container_news > .news_item > .post > p:first-child {
            font-size: 17px;
      }
      
      #content_text > .container_news > .news_item > .post > p:nth-child(2) {
            font-size: 15px;
      }
}
